  {% load staticfiles %}
  {% load static %}
    <!-- ======footer area======= -->
    <div class="container footer-top-border">
        <div class="vehicle-multi-border yellow-black"></div><!-- /.vehicle-multi-border -->
    </div><!-- /.container -->

    <footer class="footer-block bg-black" style="background-image: url(/static/images/footer-bg.png);">
        <div class="container">
            <!-- footer-top-block -->
            <div class="footer-top-block yellow-theme">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget_about">
                            <h3 class="widget-title">
                                About us
                            </h3><!-- /.widget-title -->
                            <div class="widget-about-content">
                                <img src="{% static "images/car-logo.png" %}" alt="logo" />
                                <p>We Provide Premium Word Press, Ghost and HTML template. Our Prem tjium Templates is, develo gped in a way so that the clients find  Support. Themes are developed in a way so that  the clients find.</p>
                                <a href="/pages/about/" class="button">More</a>
                            </div><!-- /.widget-content -->
                        </div><!-- /.widget widget_about -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-2 col-sm-6">
                        <div class="widget widget_menu">
                            <h3 class="widget-title">
                                Useful link
                            </h3><!-- /.widget-title -->
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/car/list/"> Get a cab</a></li>
                                <li><a href="/car/list/">Our car</a></li>
                                <li><a href="/contact-us/">Contact page</a></li>
                                <li><a href="/pages/tips/">Tips</a></li>
                                <li><a href="#"> Booking</a></li>
                            </ul>
                        </div><!-- /.widget -->
                    </div><!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget_hot_contact">
                            <h3 class="widget-title">
                                Hot contact
                            </h3><!-- /.widget-title -->
                            <ul>
                                <li><a href="#"><i class="fa fa-envelope"></i>autoplus@mail.com</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>(+880)023985471</a></li>
                                <li><a href="#"><i class="fa fa-map-marker"></i>Cité universitaire, Mahdia</a></li>
                            </ul>
                        </div><!-- /.widget -->
                        <div class="widget widget_newsletter">
                            <h3 class="widget-title">Subscribe</h3>
                            <form action="#" class="subscribes-newsletter" method="get">
                                <label>Subscribe to our Newsletters</label>
                                <div class="input-group">
                                    <input type="search" name="s" placeholder="Your email" class="form-controller">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">
                                                <span class="fa fa-paper-plane"></span>
                                        </button>
                                    </span>
                                </div><!-- /. input-group -->
                            </form><!-- /.subscribes-newsletter -->
                        </div><!-- /.widget -->
                    </div><!-- /.col-md-3 -->

                    <div class="col-md-4 col-sm-6">
                        <div class="widget widget_photo_gallery">
                            <h3 class="widget-title">
                                Photo Gallery
                            </h3><!-- /.widget-title -->
                            <ul class="photo-gallery-content">
                                <li>
                                    <a href="#">
                                        <img src="{% static "images/car-item/car-01.png" %}" alt="instagram" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static "images/car-item/car-02.png" %}" alt="instagram" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static "images/car-item/car-03.png" %}" alt="instagram" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static "images/car-item/car-04.png" %}" alt="instagram" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static "images/car-item/car-05.png" %}" alt="instagram" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static "images/car-item/car-06.png" %}" alt="instagram" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static "images/car-item/car-01.png" %}" alt="instagram" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static "images/car-item/car-05.png" %}" alt="instagram" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static "images/car-item/car-02.png" %}" alt="instagram" />
                                    </a>
                                </li>
                            </ul><!-- /.instagram-image-content -->
                        </div><!-- /.widget -->
                    </div><!-- /.col-md-4 -->
                </div><!-- /.row -->
            </div><!-- /.footer-top-block -->

            <!-- footer-bottom-block -->
            <div class="footer-bottom-block">
                <div class="row">
                     <div class="col-md-9">
                        <div class="bottom-content-left">
                            <p class="copyright">Copyright &copy; 2019 ISI Mahdia  -  All Right Reserved <a href="http://www.isima.rnu.tn/fra/home">isima.rnu.tn</a></p>
                        </div><!-- /.bottom-top-content -->
                     </div><!-- /.col-md-9 -->
                     <div class="col-md-3">
                        <div class="bottom-content-right">
                            <div class="social-profile">
                                <span class="social-profole-title">Follow Us:</span>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </div><!-- /.social-profile -->
                        </div><!-- /.bottom-content-right -->
                     </div><!-- /.col-md-3 -->
                </div><!-- /.row -->
            </div><!-- /.footer-bottom-block -->
        </div><!-- /.container -->
    </footer><!-- /.footer-block -->
