{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Specific Meta
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Texicab is a modern presentation HTML5 Car Rent template.">
    <meta name="keywords" content="HTML5, Template, Design, Development, Car Rent" />
    <meta name="author" content="">

    <!-- Titles
    ================================================== -->
    <title>{% block head_title %}{% endblock %} | Auto Plus</title>
    <!-- Favicons
	================================================== -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <!-- Custom Font
    ================================================== -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Exo:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cRoboto:400,400i,500,500i,700,700i,900,900i" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Exo:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cRoboto+Slab:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- Compiled and minified CSS -->
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/plugins.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color-schemer.css' %}">
    <!-- RS5.4 Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}">
    <!-- RS5.4 Layers and Navigation Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/navigation.css' %}"> {# block to easily inject any content in head #} {% block extra_head %} {% endblock %}
</head>

<body>
    <!-- ====== Header Top Area ====== -->

    <header>
        <!--{% include 'messages.html' %}-->
        {# include top header #} {% include "_header.html" %} {# include navbar #} {% include "_navbar.html" %}
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    {# include footer #} {% include "_footer.html" %}
    <!-- start javascript inclusions -->
    <!-- main-js -->
    <script src="{% static 'js/plugins.min.js' %}"></script>
    <script src="{% static 'js/carrent.min.js' %}"></script>
    <!-- RS5.4 Core JS Files -->
    <script src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script>
        jQuery(document).ready(function() {
            var $sliderSelector = jQuery(".carrent-slider");
            $sliderSelector.revolution({
                sliderType: "standard",
                sliderLayout: "fullwidth",
                delay: 9000,
                navigation: {
                    keyboardNavigation: "on",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    onHoverStop: "on",
                    touch: {
                        touchenabled: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    },
                    arrows: {
                        style: "gyges",
                        enable: true,
                        hide_onmobile: false,
                        hide_onleave: true,
                        tmp: '',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 10,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 10,
                            v_offset: 0
                        }
                    }
                },
                responsiveLevels: [1400, 1368, 992, 480],
                visibilityLevels: [1400, 1368, 992, 480],
                gridwidth: [1400, 1368, 992, 480],
                gridheight: [600, 600, 500, 380],
                disableProgressBar: "on"
            });
            $('.date-selector').datetimepicker({
                format: 'Y-m-d',
                //minDate: Date.now()
            });
        });
    </script>
    <!-- SLIDER REVOLUTION 5.4 EXTENSIONS  (Load Extensions only on Local File Systems! The following part can be removed on Server for On Demand Loading) -->
    <script src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>

    {# block to easily inject any javascript content #} {% block extra_scripts %} {% endblock %}
    <!-- end javascript inclusions -->
</body>

</html>