{% extends 'base.html' %}
{% load static %}
{% block head_title %}Comming-Soon{% endblock %}
{% block content %}   
 <!-- ======Commingsoon area======= --> 
    <div class="commingsoon bg-gray-color">
        <div class="container">
            <div class="commingsoon-content">
                <div class="row tb">
                    <div class="col-md-3 tb-cell mb-block">
                        <div class="commingsoon-image">
                            <img src="{% static 'images/commingsoon-car.png'%}" alt="comming-soon-logo" />
                        </div><!-- /.commingsoon-image -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-6 text-center tb-cell mb-block">
                        <h2 class="comming-heading"><img src="{% static 'images/commingsoon-logo.png'%}" alt="comming-soon-logo" /></h2>
                        <h5 class="comming-description">We are working on something awesome!</h5>
                        <div class="commingsoon-count" data-year="2018" data-month="6" data-day="5" data-hour="12" data-minutes="15"></div><!-- /.defaultCountdown -->
                        <div class="social-link">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div><!-- /.text-content -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->           
    </div><!-- /.commingsoon --> 
	{% endblock %}